<div ng-app="app"><div ng-controller="profilesCtrl" ng-init="setup()">
<ul>
  <li ng-repeat="error in errors">{{ error }}</li>
</ul>
<datalist id="instruments">
  <option ng-repeat="profile in profiles">{{ profile.instruments }}</option>
</datalist>

Filter by instrument: <input ng-model="instrumentFilter" list="names">

<table class="table table-hover">
<tr>
  <th><a href="#" ng-click="toggleOrder('username')">Username</a></th>
  <th><a href="#" ng-click="toggleOrder('email')">Email</a></th>
  <th><a href="#" ng-click="toggleOrder('name')">Name</a></th>
  <th><a href="#" ng-click="toggleOrder('age')">Age</a></th>
  <th>Gender</th>
  <th>Phone Number</th>
  <th><a href="#" ng-click="toggleOrder('location')">Location</a></th>
  <th><a href="#" ng-click="toggleOrder('instruments')">Instruments</a></th>
  <th><a href="#" ng-click="toggleOrder('genre')">Genre</a></th>
  <th><a href="#" ng-click="toggleOrder('availability')">Availability</a></th>
</tr>
<tr ng-repeat="profile in profiles" | filter: 'instrumentFilter' | 
               orderBy: {orderAttribute:descending}
    ng-hide="profile.username == 'admin'" >
  <td>{{profile.username}}</td>
  <td>{{profile.email}}</td>
  <td>{{profile.name}}</td>
  <td>{{profile.age}}</td>
  <td>{{profile.gender}}</td>
  <td>{{profile.phone_number}}</td>
  <td>{{profile.location}}</td>
  <td>{{profile.instruments)}}</td>
  <td>{{profile.genre}}</td>
  <td>{{profile.availability}}</td>
</tr>
</table>
</div></div>