<div ng-app="app" ng-controller="profileCtrl" ng-init="setup()">
<ul>
  <li ng-repeat="error in errors">{{ error }}</li>
</ul>

<!-- <div>
  Name: <input ng-model="newPersonName">
  <button ng-click="addPerson(newPersonName, newPersonBio)">Add Person</button>
</div>
<label>Filter by Name:</label> -->

<datalist id="names">
  <option ng-repeat="person in people">{{ person.name }}</option>
</datalist>


Filter by name: <input ng-model="nameFilter" list="names">

<table class="table table-hover">
<tr>
<th><a href="#" ng-click="toggleOrder('id')">ID</a></th>
<th><a href="#" ng-click="toggleOrder('username')">Username</a></th>
<th><a href="#" ng-click="toggleOrder('email')">Email</a></th>
<th><a href="#" ng-click="toggleOrder('name')">Name</a></th>
<th><a href="#" ng-click="toggleOrder('age')">Age</a></th>
<th>Gender</th>
<th>Phone Number</th>

<th><a href="#" ng-click="toggleOrder('location')">Location</a></th>
<th><a href="#" ng-click="toggleOrder('instruments')">Instruments</a></th>
<th><a href="#" ng-click="toggleOrder('genre')">Genre</a></th>
<th><a href="#" ng-click="toggleOrder('availability')">Availability</a></th>
</tr>

<tr ng-repeat="user_profile in user_profiles | filter: nameFilter | 
               orderBy: orderAttribute:descending">
<td>{{user_profile.profile.id}}</td>
<td>{{user_profile.user.username}}</td>
<td>{{user_profile.user.email}}</td>
<td>{{user_profile.profile.name}}</td>
<td>{{user_profile.profile.age}}</td>
<td>{{user_profile.profile.gender}}</td>
<td>{{user_profile.profile.phone_number}}</td>
<td>{{user_profile.profile.location}}</td>
<td>{{array_to_list(user_profile.profile.instruments)}}</td>
<td>{{user_profile.profile.genre}}</td>
<td>{{user_profile.profile.availability}}</td>
</tr>
</table>
</div>