<div class="container">


<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
  <span class="input-group-addon" id="basic-addon2">@example.com</span>
</div>

<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-addon">.00</span>
</div>

<label for="basic-url">Your vanity URL</label>


<div class="input-group">
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
  <div class="btn-group" role="group" aria-label="...">
  <a href="/profiles/musicians"><button type="button" class="btn btn-default">Search</button></a>
</div>


<!-- Search Bar -->
<%= form_tag "/profiles/musicians", class: "input-group", method: "get" do %>
  <div class="form-group">
    <%= search_field_tag "search", nil, class: "form-control", 
                                  placeholder: "Search musicians" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>


</div>
</div>