<div class="container" style="text-align:center;">

<h1>Contact Me</h1><br />

<p>I would love to hear from you! 
   If you have any comments, suggestions, or feedback, 
   don't hesitate to contact me via any method that is convenient for you!</p>
<br />
<p>Chris Bon<br />
   (650) 449-6622<br />
   chrisbon315@gmail.com<br /><br />

<p>Github: www.github.com/chris-bon<br />
   LinkedIn: www.linkedin.com/in/bonchris</p>

</div>