<div class="container" style="text-align:center">
  <h1>Drum Circles</h1>
  <h6><em>Under Construction!</em></h6>
  <p>Check back in a few weeks!</p>
  <p>In the meantime, check out 
     <%= link_to "Musician Seeker", "/musician_seeker" %>!</p>
</div>