<br /><br />
<div class="container" style="text-align:center">
  <h1>Jam Seeker</h1>
  <h6><em>Under Construction!</em></h6>
  <p>Check back in a few days!</p>
  <p>In the meantime, check out 
     <%= link_to 'Musician Seeker', profiles_path %>!</p>
</div>