<br /><br />
<div class="container" style="text-align:center">
  <h1>Remix Version Control System</h1>
  <h6><em>Under Construction!</em></h6>
  <p>Check back in a few months!</p>
  <p>In the meantime, check out 
     <%= link_to 'Musician Seeker', profiles_path %>!</p>
</div>
</div>