<div class="container" style="text-align:center;">
<h1>Scheduled Updates</h1>
<h3><%= link_to "Jam Seeker", "/jam_seeker" %></h3>
  <p>Finish by June 12</p>
<h3><%= link_to "Drum Circles", "/drum_circles" %></h3>
  <p>Finish by June 16</p>
<h3><%= link_to "Remix Version Control System", "/remixes" %></h3>
  <p>Finish by theend of July</p></div>